<!DOCTYPE html>
<html>
<head>
	<title>anna test site</title>
	{% load staticfiles %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="{% static 'unittests/index.js' %}"></script>
</head>
<body>
Test Send Keys
<input type="text" id="test-send-keys"/>
<br><br>
Test Submit
<form id="test-submit">
	<button type="submit">submit</button>
</form>
<br><br>
<button id="test-click">Test Click</button>
<br><br>
<button id="test-hover">Test Hover</button>
<br><br>
<button id="test-wait">Test Wait</button>
<iframe id="test-switch-to" src="http://annahub.se:8000/test/switchto">
</iframe>
</body>
</html>