<!DOCTYPE html>
<html>
<head>
	<title>anna test site</title>
	{% load staticfiles %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="{% static 'unittests/switch_to.js' %}"></script>
</head>
<body>
Test Send Keys
<input type="text" id="iframe-test-send-keys"/>
<br><br>
Test Submit
<form id="iframe-test-submit">
	<button type="submit">submit</button>
</form>
<br><br>
<button id="iframe-test-click">Test Click</button>
<br><br>
<button id="iframe-test-hover">Test Hover</button>
<br><br>
<button id="iframe-test-wait">Test Wait</button>
<br><br>
<a href="http://annahub.se:8000/test"><button>Back</button></a>
</body>
</html>