body {
	background-image: url("/static/media/pattern.jpg");
	background-repeat: repeat;
}

.octicon {
	display: inline-block;
	vertical-align: text-top;
	fill: currentColor;
}

.container {
	background-color: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.35), 0 6px 20px 0 rgba(0, 0, 0, 0.32);
}

.container-invisible {
	background: none;
	box-shadow: none;
}

.rounded {
    border-radius:.15rem!important
}

.gray {
	color: #777;
}

.row {
	margin-top: 16px;
	margin-bottom: 16px;
}

.row-job {
	text-align: center;
	vertical-align: middle;
	padding-top: 3px;
	min-height: 56px;
}

