body {
	background-image: url("https://us.123rf.com/450wm/nadiinko/nadiinko1808/nadiinko180800063/112037423-floral-seamless-pattern-with-red-flowers-on-pink-background-repeated-light-backdrop-soft-textile-tex.jpg?ver=6");
	background-repeat: repeat;
}

.container {
	background-color: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-top: 16px;
	margin-bottom: 16px;
}

.row {
	padding-bottom: 5px;
}
