{% extends 'bootstrap_base.html' %}
{% block extra_css %}
{% load static %}
{% load octicons %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{% static 'js/search.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block nav %}
{% endblock %}
{% block body_content %}
<div class="container container-invisible">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-2">
				<div class="container rounded">
					<h1>anna</h1>
					<a href="https://github.com/patrikpihlstrom/anna">anna</a><br>
					<a href="https://github.com/patrikpihlstrom/anna-api">anna-api</a><br>
					<a href="https://github.com/patrikpihlstrom/anna-dashboard">anna-dashboard</a><br><br>
				</div>
			</div>
			<div class="col-sm">
				<div class="row">
					<div class="container rounded container-search">
						<div class="row">
							<div class="col-sm">
								<input class="form-control" type="text"
									   placeholder="driver" id="driver"/>
							</div>
							<div class="col-sm">
								<input class="form-control" type="text"
									   placeholder="site" id="site"/>
							</div>
							<div class="col-sm">
								<button class="btn">{% octicon "plus" height="18" %}</button>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="container rounded container-search">
						<input class="form-control" type="text"
							   placeholder="status:starting,running driver:firefox site:test..."
							   aria-label="search" id="search"/>
					</div>
				</div>
			</div>
		</div>
		<div class="container rounded">
			<div class="row row-job row-head">
				<div class="col-sm-3 gray">{% octicon "tag" height="24" %}</div>
				<div class="col-sm-3 gray">{% octicon "heart" height="24" %}</div>
				<div class="col-sm-3 gray">{% octicon "note" height="24" %}</div>
				<div class="col-sm-3 gray">{% octicon "history" height="24" %}</div>
			</div>
		</div>
		{% for job in jobs %}
		<div class="container rounded">
			<div class="row row-job row-head">
				<div class="col-sm-3 gray">{{ job.tag }}</div>
				<div class="col-sm-3 gray">{{ job.status }}</div>
				<div class="col-sm-3 gray">{{ job.log }}</div>
				<div class="col-sm-3 gray">{{ job.updated_at }}</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
