{% extends 'bootstrap_base.html' %}
{% block extra_css %}
{% load static %}
{% load octicons %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{% static 'js/search.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block nav %}
{% endblock %}
{% block body_content %}
<div class="container container-invisible">
	<div class="row">
		<div class="container rounded">
			<div class="col-sm-2">
				<h1>anna</h1>
				<a href="https://github.com/patrikpihlstrom/anna">anna</a>
				<br>
				<a href="https://github.com/patrikpihlstrom/anna-api">anna-api</a>
				<br>
				<a href="https://github.com/patrikpihlstrom/anna-dashboard">anna-dashboard</a>
			</div>
			<div class="col-sm">
				<div class="row">
					<div class="col-sm">
						<input class="form-control" type="text"
							   placeholder="starting running firefox site tag..."
							   aria-label="search" id="search"/>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container rounded">
		<div class="row row-job">
			<div class="col-sm-3 gray my-auto">{% octicon "tag" height="24" %}</div>
			<div class="col-sm-3 gray my-auto">{% octicon "globe" height="24" %}</div>
			<div class="col-sm-3 gray my-auto">{% octicon "note" height="24" %}</div>
			<div class="col-sm-3 gray my-auto">{% octicon "history" height="24" %}</div>
		</div>
	</div>
	<div class="col-sm">
		<div id="jobs">
		</div>
	</div>
</div>
{% endblock %}
